<a href="https://colab.research.google.com/github/vinothrajkumar05/Simple-GUI/blob/main/simple_GUI_App(nethu).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title String fields

text = 000 #@param {type:"integer"}
dropdown = '2nd option' #@param ["1st option", "2nd option", "3rd option"]
text_and_dropdown = 'guvi' #@param ["1st option", "2nd option", "3rd option"] {allow-input: true}

print(text)
print(dropdown)
print(text_and_dropdown)

values
1st option
2nd option

In [ ]:
#@title Form

Name = 'Name' #@param {type:'string'}
Apartment = 0 #@param {type:'integer'}
Street = 'Street' #@param {type: 'string'}
District = 'District' #@param {type:'string'}
Country = 'Country' #@param {type: 'string'}
Mobile =  54655654635#@param {type:'integer'}
Gender='Gender' #@param ['Gender', 'Female', 'Male', 'Other', 'Prefer not to mention']
MS = 'Marital Status' #@param ['Marital Status', 'Unmared', 'Married']


with open('form.txt', r'a') as file:
  file.write('Name, Appartment No., Street, District, Country, Mobile No., Gender, Marital Status')
  file.write('\n')
  file.write('{}, {}, {}, {}, {}, {}, {}, {}'.format(Name, Apartment, Street, District, Country, Mobile, Gender, MS))
  file.write('\n')

In [ ]:
#@title Swiss Bank

Name = 'nethaji' #@param {type: 'string'}
Gender = "Male" #@param ['Select', 'Male', 'Female', 'Other']
Mobile =  9876543210#@param {type: 'integer'}
Address = 'India' #@param {type: 'string'}
Marital_Status = 'Single' #@param ['Select', 'Single', 'Married']

output = {'Name': Name, 'Gender': Gender, 'Mobile': Mobile, 'Address': Address, 'Marital_Status': Marital_Status}
print(output)

with open('form.txt', r'a') as file:
  file.write(str(output))

{'Name': 'nethaji', 'Gender': 'Male', 'Mobile': 9876543210, 'Address': 'India', 'Marital_Status': 'Single'}

In [ ]:
#@title Raw fields

raw_input = None #@param {type:"raw"}
raw_dropdown = False #@param [1, "raw_input", "False", "'string'"] {type:"raw"}

print(raw_input)
print(raw_dropdown)

NameError: ignored

In [ ]:
with open("form.txt") as f:
  read=f.read()
print(read)


for x in read:
  print(x[])

1.filter outeput all names
2.search using name

1.create a calculator using colab UI

{'Name': 'nethaji', 'Gender': 'Male', 'Mobile': 9876543210, 'Address': 'India', 'Marital_Status': 'Single'}{'Name': 'nethaji', 'Gender': 'Male', 'Mobile': 9876543210, 'Address': 'India', 'Marital_Status': 'Single'}

In [ ]:
#@title Date fields
date_input = '2016-03-09' #@param {type:"date"}

print(date_input)

In [ ]:
#@title Number fields
number_input = 10.0 #@param {type:"number"}
number_slider = 0.2 #@param {type:"slider", min:-1, max:1, step:0.1}

integer_input = 10 #@param {type:"integer"}
integer_slider = 33 #@param {type:"slider", min:0, max:100, step:1}

print(number_input)
print(number_slider)

print(integer_input)
print(integer_slider)

10.0
0
10
3

In [ ]:
#@title Boolean fields
boolean_checkbox = False #@param {type:"boolean"}
boolean_dropdown = True #@param ["False", "True"] {type:"raw"}

print(boolean_checkbox)
print(boolean_dropdown)

False
True

In [ ]:
#@title After running this cell manually, it will auto-run if you change the selected value. { run: "auto" }

option2 = "A" #@param ["A", "B", "C"]
print('You selected', option2)